*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-primary{
    background-color: #1A94FF !important;
}
body{
    background: #efefef;
}
.container-fluid{
    padding-left: 50px !important;
    padding-right: 50px !important;
    margin: 0;
}
.searchBar{
    height: 35px;
    width: 472px;
    position: relative;
    margin-left: -35%;
}
.chosen-container-single .chosen-single{
    height: 35px !important;
    width: 100px !important;
    border-radius: 0 !important;
    line-height: 35px ;
    background-color: white !important;
    color: black;
    border: none !important;
    border-right: 1px solid #ccc !important;
}

.searchBar__input{
    height: 35px;
    width: 270px;
    position: absolute;
    left: 100px;
    border: 0px;
    padding-left: 10px;
    outline: none;
}
.searchBar__button{
    position: absolute;
    left: 370px;
    border: 0px;
    height: 35px;
    width: 100px;
    background-color: #0D5CB6;
    color: white;
    font-size: 14px;
}
.searchBar__button i{
    margin-right: 5px;
}
.navbar__info{
    height: 35px;
}
.navbar__info button{
    background: transparent;
    color: white;
    border: none;
    font-size: 14px;
    margin-right: 5px;
}
.navbar__info-nofi i{
    margin-right: 5px;
    font-size: 16px;
}
.img-info{
    margin-top: 10px;
    padding: 5px;
    width: 527px;
    height: 560px;
    background-color: #f7f7f7;
}
.main-img,
.main-img img{
    width: 100%;
    height: 430px;
    object-fit: contain;
    object-position: 50% 0;
}

.list-img{
    margin-top: 10px;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
}
.list-img-item{
    padding: 0;
    margin: 0 5px;
    overflow: scroll;
    width: 417px;
    height: 100px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.list-img-item::-webkit-scrollbar{
    width: 0;
    height: 0;
    display: none;
}
.list-img-item img{
    width: 100px;
    height: 100%;
    margin-right: 5px;
    border: 1px solid #fff;
}
.hover-img{
    border: 2px solid #0D5CB6 !important;
}

.button-controll{
    width: 50px;
    height: 50px;
    background: #e6e6e6;
    display: block;
    border: none;
    margin: 0;
}

.button-controll i{
    font-size: 20px;
    color: black;
}
.content-right{
    margin-top: 10px;
    margin-left: 20px;
    background-color: #f7f7f7;
    padding: 5px 20px;
}
.info-title{
    font-size: 22px;
    font-weight: 650;
}
.info-category{
    color: #828282;
    font-size: 14px;
}
.info-location,
.info-open-time,
.info-price,
.info-segment{
    color: #2d2d2d;
    font-size: 14px;
}
.info-open i{
    font-size: 12px;
}
.isOpen{
    color: #05CD15;
    font-weight: bold;
}
.isClose{
    color: #DC3545;
    font-weight: bold;
}
.rating-number{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 0px;
}
.rating-total{
    color: #2d2d2d;
    font-size: 14px;
}
.rating-star{
    margin-bottom: 5px;
}
.checked{
    color: #FFA500;
}
.info-rating-right{
    padding-top: 20px;
}
.rating-type{
    margin-right: 10px;
}
.rating-type{
    display: flex;
    justify-content: left;
    align-items: center;
}
.rating-type span{
    transform: translate(0, -22%);
    margin-right: 10px;
}
.progress{
    width: 80%;
    margin-bottom: 10px;
}
.list-tool{
    margin-top: 20px;
}
.list-tool ul li {
    list-style: none;
    padding: 5px;
    border-bottom: 1px solid #dddddd;
    cursor: pointer;
}
.list-tool-active{
    color: #0D6EFD;
    border-left: 1px solid #0D6EFD;
}
.list-item-number{
    font-size: 10px;
    color: #828282;
}
.main-info-content{
    margin: 20px 0 0 20px;
    background: #fff;
    text-align: left;
    padding-bottom: 20px;
}
.main-info-content-title{
    font-size: 26px;
    font-weight: 450;
    margin: 22px 10px;
    padding: 5px 10px;
    background: #efefef;
    border-radius: 5px;
}
.main-info-content-text{
    padding-left: 22px;
}
.main-info-content img{
    width: 80%;
    object-fit: contain;
}
.main-info-content-list-img{
    padding-left: 22px;
    margin-left: -10px;
    width: calc(100% + 42px);
}
.main-info-content-list-img img{
    width: calc(20% - 22px);
    height: 160px;
    object-fit: cover;
    margin-left: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
.search-item{
    border: 1px solid #efefef;
    margin-left: 12px;
    width: calc(100% - 22px);
}
.search-group{
    padding-left: 10px;
    margin: 0;
    color: #4B464C;
}
.search-group input {
    font-size: 18px;
    border: none;
    padding: 10px 5px;
    outline: none;
}
.menu-list-item{
    width: calc(100% - 22px);
}
.menu-item{
    border-bottom: 1px solid #efefef;
    margin-left: 12px;
    margin-top: 10px;
    padding-bottom: 5px;
}
.menu-item button {
    width: 80px;
    height: 80px;
    padding: 0;
    border: none;
}
.menu-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menu-item-info{
    color: #4B464C;
    margin-left: 5px;
    width: 60% !important;
}
.menu-item-info-name{
    font-size: 18px;
    font-weight: 700;
}
.menu-item-info-description{
    font-size: 14px;
}
.menu-item-price{
    font-size: 18px;
    font-weight: bold;
    color: #0D6EFD;
}