*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row-list-store{
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.store-item{
    align-items: center !important;
    user-select: none;
}
.label-item,
label{
    display: block !important;
    width: 100% !important;
    height: 100% !important;
    cursor: pointer !important;
    padding: 10px 0;
}

.store-item-img img{
    width: 100%;
    height: auto;
    max-height: 113px;
    object-fit: fill !important;
}
.store-item-check{
    transform: scale(2);
    cursor: pointer;
}
